@import url('https://fonts.googleapis.com/css?family=Dosis:200,400,600');
body,
header,
h1,h2,
article,
p,
section,
h3,
ul,
dl,
dt,
dd,
details,
footer,
main,hr{
	margin:0;
	padding:0;
	font-weight: 200;
	

}
body{
	font: 16px 'Dosis',sans-serif;
	font-size-adjust: 0.5;
	background: #fafafa;
}

*{
	box-sizing: border-box;
}
/*thème*/

header{
	background: #212121;

}
header *{
	line-height: 60px;
	text-align: center;
	color: #fff;
	font-size: 2.5rem;
}
hr{
	background: #ccc;
	margin:10px 0;
	height: 1px;
	border:0;
}
section>h2{
	text-align: center;
	background: #212121;
	color: #fff;
	line-height: 40px;
	font-weight: 400;
	font-size: 1.5rem;
}
section{
	width: 600px;
	padding:10px;
	margin:0 auto;
}
.content-box{
	width: auto;
	border: solid 1px transparent;
	text-align: center;

	
}
.box-inline-block{
	width: calc(578px / 3 - 12px);/*espacement pour chaque photo 4px*/
	display: inline-block;
	text-align: center;
	margin: 12px 0;
	color: #fff;
	vertical-align: middle;

}

.box-inline-block img{
	display: block;
	max-width: 100%;
	opacity: 0.7;
}
.box-inline-block:nth-child(2){
	margin:0 12px;
	background: rgb(0,255,0);
}
.box-inline-block:nth-child(3){

	background: rgb(0,0,255);
}
.box-inline-block:nth-child(1){

	background: rgb(255,0,0);
}

/*options css pour la suppression de l'espace blanc*/
.box-inline-block-normal{
	width: calc(600px / 3 - 12px);/*espacement 4*/
	margin:4px 0;
}
.box-inline-block-normal:nth-child(2){
	margin:0 5px;
}
.content-box-secondary{/*réduire la font à 0 pour supprimer l'espacement*/
	font-size:0;
	border: 0;
}

